:root { 
  --prim1: rgb(240, 170, 182);
  --prim2: rgb(232, 187, 243);
}

.bg-prim1 {
  background-color: var(--prim1);
}

.bg-prim2 {
  background-color: var(--prim2);
}




.bitter {
font-family: 'Bitter', serif;}

.site-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.site-footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-width {
width: 25rem;
}



.card-width2 {
margin: 3em;
padding: 3em;
}

  body.debug .container,
  body.debug .container-fluid {
    outline: 2px double blue;
    outline-offset: -2px;
  }
  
  body.debug .row {
    outline: 2px dashed red;
    outline-offset: -2px;
  }
  
  body.debug [class*="col"] {
    outline: 2px dotted forestgreen;
    outline-offset: -3px;
  }

  .bg-flowers{
  background-image: url("https://s3-alpha-sig.figma.com/img/17ce/b8b2/d800322e501b1466678774147716c7a3?Expires=1634515200&Signature=XH85aDS1gDntdP5raWEj3SIXNUGM8~UUxcvtNNXJrUX3yfKtbnMeNk1U5L725xdrBjzezpZ0Q5jRL58q4AUvFjxiGf1lravmvqUWdbImVb4PaE-PbapX05ezHs7cRE5qQJot7MN8-0X~UsiYPCNaWBKg7CN2~r4Mdsy137mYeCuqd-Fk~ZByy7b4eSOf1ewI6wh~Gu-DhXgXBmFDZm4oNIdqP3IVv1XHDUsTip0dSP0rDxneVzqZHMXbKP-yKqzPxtRR~Rzcd--HXBJe80hCEoJN~ezlqIl0sl936IiS4j~vGj7bxQXv40EicB9lBj54lACgoXGEt2SzaLXaF94Idw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 768px){
  .card-spill {
  transform: translateY(5em)
}
}

@media only screen and (max-width: 768px){
  .text-over-img {
  display: none;
}
}